
body{
    background-color: rgb(57, 55, 55);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#calculater{
    background-color:black ;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border: white solid 5px;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    background-color: rgb(25, 24, 24);
    border: none;
    color: white;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size:4rem;
    font-weight: bold;
    color :white;
    background-color: rgb(44, 44, 44); 
    cursor: pointer;
}
button:hover{
    background-color: black;
}
button::after{
    background-color: gold;
}
#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 1px;
    padding:25px ;
    margin: none;
}
.operation-btn{
    color:#1c1c1c;
    background-color: gold;
}
.operation-btn:hover{
    background-color: white;
}
@media (max-width: 600px){
    button{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size:2rem;
        font-weight: bold;
        color :white;
        background-color: rgb(44, 44, 44); 
        cursor: pointer;
    }
    #display{
        width: 100%;
        padding: 20px;
        font-size: 3rem;
        background-color: rgb(25, 24, 24);
        border: none;
        color: white;
    }

}

